{% extends 'base.html.twig' %}

{% block content %}

    <h1>{{ post.title }}</h1>

    <p>{{ post.date | date('d/m/Y H:i') }}</p>

    <p>{{ post.content }}</p>

    <img src="/uploads/{{ post.imageName }}">

    <p><a href="{{ path('post_edit', {id: post.id}) }}">Modifier</a></p>

    <p><a href="{{ path('post_delete', {id: post.id}) }}">Supprimer</a></p>

    <p><a href="{{ path('posts_list') }}">Retour</a></p>

{% endblock %}

